# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
local_settings.py
**/migrations/

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# Static files (if generated locally)
staticfiles/

# Media files (optional)
media/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db